<% tibcobw=measure('isbwproject')
	if tibcobw
%>

<%
   processes = @snapshot.measure('processes')
   globalvariables = @snapshot.measure('globalvariables')
   bwresources = @snapshot.measure('bwresources')
%>

<div class="widget-row" style="padding-bottom: 30px;">
	<h3 class="description-widget-project">
		<img style="width: 24px; height: 24px; margin: 0px 0px 5px 10px;" src="http://pbs.twimg.com/profile_images/467420970685177857/cJbiQ_Zs_normal.png">
		<span>TIBCO BusinessWorks Metrics</span>
	</h3>
</div>

<div class="widget-row">

	<div class="widget-span widget-span-12">

		<div class="widget-row">
		
			<div class="widget-span">
				<div class="widget-measure-container">
					<div class="widget-measure widget-measure-main">
						<span class="widget-label"><%= metric('processes').short_name-%></span>
						<span class="nowrap">
							<span class="link-<%= widget.key %>-issues">
								<%= format_measure(processes, :url => url_for(:controller => 'components', :action => 'index', :id => @project.key)) -%>
							</span>
							<%= dashboard_configuration.selected_period? ? format_variation(processes) : trend_icon(processes) -%>
						</span>
					</div>													
				</div>
				<div style="margin-top:5px;">	
					<p>
						<span>
							<%= metric('groups').short_name -%> : <%= format_measure('groups') -%> <%= trend_icon(measure('groups')) %>
						</span>
					</p>				
					<p>
						<span>
							<%= metric('activities').short_name -%> : <%= format_measure('activities') -%> <%= trend_icon(measure('activities')) %>
						</span>
					</p>				
					<p>
						<span>
							<%= metric('transitions').short_name -%> : <%= format_measure('transitions') -%> <%= trend_icon(measure('transitions')) %>
						</span>
					</p>
				</div>	
			</div>
			
			<div class="widget-span">
				<div class="widget-measure-container">
					<div class="widget-measure widget-measure-main">
						<span class="widget-label"><%= metric('bwresources').short_name-%></span>
						<span class="nowrap">
							<span class="link-<%= widget.key %>-issues">
								<%= format_measure(bwresources, :url => url_for(:controller => 'components', :action => 'index', :id => @project.key)) -%>
							</span>
							<%= dashboard_configuration.selected_period? ? format_variation(bwresources) : trend_icon(bwresources) -%>
						</span>
					</div>
				</div>
				<div style="margin-top:5px;">	
					<p>
						<span>
							<%= metric('httpconnection').short_name -%> : <%= format_measure('httpconnection') -%> <%= trend_icon(measure('httpconnection')) %>
						</span>
					</p>				
					<p>
						<span>
							<%= metric('jdbcconnection').short_name -%> : <%= format_measure('jdbcconnection') -%> <%= trend_icon(measure('jdbcconnection')) %>
						</span>
					</p>				
					<p>
						<span>
							<%= metric('jmsconnection').short_name -%> : <%= format_measure('jmsconnection') -%> <%= trend_icon(measure('jmsconnection')) %>
						</span>
					</p>
				</div>	
			</div>

			<div class="widget-span">
				<div class="widget-measure-container">
					<div class="widget-measure widget-measure-main">
						<span class="widget-label"><%= metric('globalvariables').short_name -%></span>
						<span class="nowrap">
							<span class="link-<%= widget.key %>-issues">
								<%= format_measure(globalvariables, :url =>	url_for(:controller => 'components', :action => 'index', :id => @project.key)) -%>
							</span>
							<%= dashboard_configuration.selected_period? ? format_variation(globalvariables) : trend_icon(globalvariables)	-%>
						</span>
					</div>
				</div>
			</div>
						
		</div>
		
		
		
	</div>


	
</div>

<% end %>